<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yu20170425;AccountKey=VBTQ4MbTUtKpWpUW5DHIwfJ6diBAT0XDiWE1DYmmczwFLliOryNev0jRTVaL88F41TnbbcxXQj0+Yz9Km8fCJg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>